<%- layout('layouts/boilerplate') %>
    <div id="map" style="width:100%; height:500px"></div>
    <h1>All Campgrounds</h1>
    <a class="btn btn-success mb-3" href="/campground/new">New Campground</a>
    <ul>
        <% for( let campground of campgrounds) { %>
            <div class="card mb-4">
                <div class="row">
                <% if (campground.images && campground.images.length > 0) { %>
                      <img crossorigin="anonymous" class="img-fluid" src="<%= campground.images[0].url %>" alt="">
                    <% } else { %>
                      <img crossorigin="anonymous" class="img-fluid" src="https://img.freepik.com/free-vector/illustration-gallery-icon_53876-27002.jpg?w=1060&t=st=1719419624~exp=1719420224~hmac=b4c457c6156753730be6a22f6ffcffeaed23a6420433517ce8e2dfb7d5f75ec9" alt="Default Image">
                    <% } %>
                    
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= campground.title %>
                            </h5>
                            <p class="card-text">
                                <%= campground.description %>
                            </p>
                            <p class="card-text">
                                <small class="text-muted">
                                    <%= campground.location %>
                                </small>
                            </p>
                            <a href="/campground/<%= campground._id %>/show"><button class="btn btn-primary">View
                                    Campground</button></a>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
    </ul>
    <script>
        const mapboxToken = '<%-process.env.MAPBOX_TOKEN%>';
        const campground ={features: <%-JSON.stringify(campgrounds)%>};
    </script>
    <script src="/javascripts/clusterMap.js"></script>
